<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="dataExchange:runPipelineBatchCommand"  type="Sitecore.Support.DataExchange.Local.Commands.RunPipelineBatchCommand, Sitecore.Support.191358" patch:instead="command[@name='dataExchange:runPipelineBatchCommand']" />
      <command name="dataExchange:stopPipelineBatchCommand"  type="Sitecore.Support.DataExchange.Local.Commands.StopPipelineBatchCommand, Sitecore.Support.191358" patch:instead="command[@name='dataExchange:stopPipelineBatchCommand']"/>
      <command name="dataExchange:createItemWithoutPromptingForNameCommand"  type="Sitecore.Support.DataExchange.Local.Commands.CreateItemWithoutPromptingForNameCommand, Sitecore.Support.191358" patch:instead="command[@name='dataExchange:createItemWithoutPromptingForNameCommand']"/>
      <command name="dataExchange:queues:showSummary"  type="Sitecore.Support.DataExchange.Local.Commands.Queues.ShowWorkQueueSummaryCommand, Sitecore.Support.191358" patch:instead="command[@name='dataExchange:queues:showSummary']"/>
      <command name="dataExchange:queues:clearEntries"  type="Sitecore.Support.DataExchange.Local.Commands.Queues.ClearWorkQueueEntriesCommand, Sitecore.Support.191358" patch:instead="command[@name='dataExchange:queues:clearEntries']"/>
      <command name="dataExchange:createTenant" type="Sitecore.Support.DataExchange.Local.Commands.CreateTenantCommand, Sitecore.Support.191358" patch:instead="command[@name='dataExchange:createTenant']"/>

    </commands>
  </sitecore>
</configuration>